<div id="section-bg">

                        <div id="section-text">

                        Adwars
                        </div>

                        </div>

                        <div id="content-bg" class="add-section">

                        <div id="content-text-align">

<div id="Awards" class="sections">
<dl class="ref-apa">
<dt>Awards</dt>
<dd><a href="www.unavarra.es?index=0">Etxeberria-Andueza, J.</a>, Premio Extraordinario de Doctorado, Year: 2018, </dd>
<dd><a href="www.unavarra.es?index=1">On Bayesian P-splines in disease mapping</a>, <em>Adin, A.; Ugarte, M.D.; Goicoa, T.</em>, Premio 'María Jesús Bayarri' a la mejor aplicación Bayesiana en la XV Conferencia Española de Biometría y V Encuentro Iberoamericano de Biometría, Year: 2015, </dd>
<dd><a href="www.unavarra.es?index=2">Analyzing the evolution of brain cancer mortality patterns in a young population in Spain</a>, <em>Adin, A.; Ugarte, M.D.; López-Abente, G.</em>, Mención Especial en el Premio Biostatnet de Jóvenes Investigadores, Year: 2014, </dd>
<dd><a href="www.unavarra.es?index=3">Interfacing Statistical Teaching and Geostatistics</a>, <em>Fernández Militino, A.</em>, The John Cedric Griffiths Teaching Award, Year: 2010, </dd>
<dd><a href="www.unavarra.es?index=4">Probability and Statistics with R</a>, <em>Ugarte, M. D.; Militino, A. F.</em>, Tu eliges, tu decides, Year: 2007, </dd>
<dd><a href="www.unavarra.es?index=5">Estimación de Riesgos de Mortalidad por Ocupación y Actividad Económica de la Empresa en Navarra</a>, <em>Ugarte, M. D., Militino, A. F.</em>, Premio de Investigación de fundación Caja Navarra 2006, Year: 2006, </dd>
<dd><a href="www.unavarra.es?index=6">Modelos Estadísticos para estimar superficies pequeñas: Una aplicación a la estimación de frutales en Navarra</a>, <em>Militino, A. F. and Ugarte, M. D.</em>, Premios de Investigación Caja Navarra, Year: 2003, </dd>
</dl>
</div>
</div>
</div>
