<!-- Page Content -->
 <div class='section contact-style' id='contact'>
    <div class='container'>
        <div class='row'>
            <h1>Contact</h1>
            <br>
        </div>
        <div class='row'>
        <div class='col-md-8'>
            <iframe width="100%" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=universidad%20publica%20de%20navarra&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          </div>
          <div class='col-md-4 '>
            <p>
              <br>Lola Ugarte
              <br>Department of Statistics, Computer Science, and Mathemathics
              <br>Campus de Arrosadia
              <br>31006, Pamplona
              <br>Navarra, Spain
              <br>
              <br>
              <!--<i class='fa fa-fw fa-phone text-muted '></i>
              <br>
              <i class='fa fa-fw fa-fax text-muted '></i>
              <br>-->
              <i class='fa fa-fw fa-envelope text-muted '></i>&nbsp;group.spatialstatistics@unavarra.es
              <br>
            </p>
          </div>
        </div>
      </div>
    </div>
