<!-- Page Content -->
<div class='section' id='members'>
    <div class='container'>
        <h1 class="color-dark">Spatial Statistics Research Group</h1>
		<h2 class='color-dark'>Public University of Navarre</h2>
        <div class="row">
        <div class="col-md-12">
            <center>
            	<img id="g-img" src="/img/FotoGrupo.jpg">
            </center>
        </div>
        <div class="col-md-12">
        	<p>
        	Welcome to the website of the research group of spatial statistics of the Public University of Navarra. On this page you can find information on the activities and publications of the group and other related information. 
        	</p>
        	<p>
            Spatial Statistics is a research group dedicated to develop methodology and solve problems in the field of applied statistics in a broad sense. Currently, our research is focus on the statistical modeling of spatial and spatio-temporal processes with environmental and biomedical applications.
        	</p>
        	<p>
        	Much of the work is motivated by practical problems, like analyzing the space-time evolution of cancer mortality risks to facilitate epidemiologists and public health researchers to find risk factors that could affect cancer mortality. Detecting regions with extreme mortality risks is also our aim, helping society to avoid health inequalities.
        	</p>
        	<p>
        	The group aims to exchange knowledge, generate new thinking and work helping to solve real problems in many fields. Collaboration with companies, other research groups, and public administrations has been our rule. Specifically, the Basque Country Statistical Institute has implemented small area estimation procedures developed by our group.
        	</p>
        </div>
        </div>
      </div>


           
    <div class="container memberstyle">
        <h1>Group Members</h1>
        <div class="row">
          
            <!--<div class="col-lg-4 col-md-6 text-center">-->
            <!--    <div class="service-box">
                    <img class="m-img" src="img/GroupMembers/Ana.jpg"></img>
                    <h3 >Ana F. Militino, PhD.</h3>
                    <h4 >Full professor</h4>
                    <div id="u-social">
                      <a href="https://www.unavarra.es/pdi?uid=220" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>	
                      <a href="https://scholar.google.es/citations?user=RQW121cAAAAJ&hl=en&oi=ao" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-google-scholar-square'></i></a>
                      <a href="https://orcid.org/0000-0002-0631-3919" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-orcid'></i></a>
                    </div>
                </div>
            </div>-->
            
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="m-img" src="img/GroupMembers/ugarte-lola.jpg"></img>
                    <h3 >María Dolores (Lola) Ugarte, PhD.</h3>
                    <h4 >Full professor</h4>
                    <div id="u-social">
                      <a href="https://observatorio-investigacion.unavarra.es/investigadores/88413/detalle?lang=en" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>	
                      <!--<a href="https://www.unavarra.es/pdi?uid=387" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>-->	
                      <a href="https://scholar.google.com/citations?user=kl-5NbMAAAAJ&hl=en" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-google-scholar-square'></i></a>
                      <a href="https://orcid.org/0000-0002-3505-8400" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-orcid'></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="m-img" src="img/GroupMembers/Tomas.jpg"></img>
                    <h3 >Tomás Goicoa, PhD.</h3>
                    <h4 >Full professor</h4>
                    <div id="u-social">
                      <a href="https://observatorio-investigacion.unavarra.es/investigadores/88598/detalle?lang=en" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>	
                      <!--<a href="https://www.unavarra.es/pdi?uid=2591" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>-->
                      <a href="https://scholar.google.com/citations?user=Rt7hAFAAAAAJ&hl=en&oi=sra" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-google-scholar-square'></i></a>
                      <a href="https://orcid.org/0000-0002-0588-0137" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-orcid'></i></a>
                      </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="m-img" src="img/GroupMembers/Jaione.jpg"></img>
                    <h3 >Jaione Etxeberria, PhD.</h3>
                    <h4 >Associate Professor</h4>
                    <div id="u-social">
                      <a href="https://observatorio-investigacion.unavarra.es/investigadores/88690/detalle?lang=en" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>	
                      <!--<a href="https://www.unavarra.es/pdi?uid=7857" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>-->
                      <a href="https://scholar.google.es/citations?user=hlvEp4cAAAAJ&hl=en" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-google-scholar-square'></i></a>
                      <a href="https://orcid.org/0000-0003-2415-4322" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-orcid'></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="m-img" src="img/GroupMembers/Aritz.jpg"></img>
                    <h3 >Aritz Adin Urtasun, PhD.</h3>
                    <h4 >Associate Professor</h4>
                    <div id="u-social">
                      <a href="https://observatorio-investigacion.unavarra.es/investigadores/88794/detalle?lang=en" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>
                      <!--<a href="https://www.unavarra.es/pdi?uid=810625" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>-->
                      <a href="https://scholar.google.com/citations?user=GyomrXIAAAAJ&hl=es" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-google-scholar-square'></i></a>
                      <a href="https://orcid.org/0000-0003-3232-6147" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-orcid'></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="m-img" src="img/GroupMembers/Guzman.jpg"></img>
                    <h3 >Guzmán Santafe Rodrigo, PhD.</h3>
                    <h4 >Associate Professor</h4>
                    <div id="u-social">
                      <a href="https://observatorio-investigacion.unavarra.es/investigadores/88753/detalle?lang=en" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>
                      <!--<a href="https://www.unavarra.es/pdi?uid=9892" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>-->
                      <a href="https://scholar.google.com/citations?user=OE4rq3IAAAAJ" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-google-scholar-square'></i></a>
                      <a href="https://orcid.org/0000-0003-3951-6250" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-orcid'></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="m-img" src="img/GroupMembers/Camelia.jpg"></img>
                    <h3 >Paula Camelia Trandafir, PhD.</h3>
                    <h4 >Associate Professor</h4>
                    <div id="u-social">
                      <a href="https://observatorio-investigacion.unavarra.es/investigadores/88779/detalle?lang=en" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>	
                      <!--<a href="https://www.unavarra.es/pdi?uid=810219" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>	-->
                      <a href="https://orcid.org/0000-0002-6939-391X" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-orcid'></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="m-img" src="img/GroupMembers/Unai.jpg"></img>
                    <h3 >Unai Pérez Goya, PhD</h3>
                    <h4 >Associate Professor</h4>
                    <div id="u-social">
                      <a href="https://observatorio-investigacion.unavarra.es/investigadores/88828/detalle?lang=en" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>	
                      <!--<a href="https://www.unavarra.es/pdi?uid=811058" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>	-->
                      <a href="https://scholar.google.com/citations?user=1vliF8MAAAAJ&hl=en&oi=ao" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-google-scholar-square'></i></a>
                      <a href="https://orcid.org/0000-0002-2796-9079" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-orcid'></i></a>
                  </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="m-img" src="img/GroupMembers/PaulaGordaliza.jpg"></img>
                    <h3 >Paula Gordaliza Pastor, PhD</h3>
                    <h4 >Associate Professor</h4>
                    <div id="u-social">
                      <a href="https://observatorio-investigacion.unavarra.es/investigadores/1175401/detalle?lang=en" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>	
                      <!--<a href="https://www.unavarra.es/pdi?uid=812701" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>	-->
                      <a href="https://scholar.google.com/citations?user=tUkAkSIAAAAJ" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-google-scholar-square'></i></a>
                      <a href="https://orcid.org/0000-0002-0455-1200" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-orcid'></i></a>
                  </div>
                </div>
            </div>
            
	          <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="m-img" src="img/GroupMembers/Carlos.jpg"></img>
                    <h3 >Carlos Echegoyen, PhD</h3>
                    <h4 >Assistant Professor</h4>
                    <div id="u-social">
                      <a href="https://observatorio-investigacion.unavarra.es/investigadores/751490/detalle?lang=en" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>	
                      <!--<a href="https://www.unavarra.es/pdi?uid=812413" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>-->
                      <a href="https://scholar.google.com/citations?user=tpmjBkwAAAAJ&hl=en" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-google-scholar-square'></i></a>
                      <a href="https://orcid.org/0000-0001-6704-7012" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-orcid'></i></a>
                  </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="m-img" src="img/GroupMembers/Garazi.jpg"></img>
                    <h3 >Garazi Retegui</h3>
                    <h4 >Assistant Professor</h4>
                    <div id="u-social">
                      <a href="https://observatorio-investigacion.unavarra.es/investigadores/751865/detalle?lang=en" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>
                      <!--<a href="https://www.unavarra.es/pdi?uid=812116" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>-->
                      <a href="https://scholar.google.com/citations?user=iXJLoU8AAAAJ" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-google-scholar-square'></i></a>	
                      <a href="https://orcid.org/0009-0008-0005-2501" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-orcid'></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="m-img" src="img/GroupMembers/Ugaitz.jpg"></img>
                    <h3 >Ugaitz Amozarrain, PhD</h3>
                    <h4 >Assistant Professor</h4>
                    <div id="u-social">
                      <a href="https://observatorio-investigacion.unavarra.es/investigadores/751475/detalle?lang=en" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>
                      <!--<a href="http://www.unavarra.es/pdi?uid=812412" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>-->
                      <a href="https://scholar.google.es/citations?user=rvUuMa4AAAAJ&hl=en" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-google-scholar-square'></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="m-img" src="img/GroupMembers/Harkaitz.jpg"></img>
                    <h3 >Harkaitz Goyena</h3>
                    <h4 >Postdoctoral researcher</h4>
                    <div id="u-social">
                      <a href="https://observatorio-investigacion.unavarra.es/investigadores/751455/detalle?lang=en" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>
                      <!--<a href="http://www.unavarra.es/pdi?uid=812285" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>-->
                      <a href="https://scholar.google.com/citations?user=egDcmx4AAAAJ" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-google-scholar-square'></i></a>	
                      <a href="https://orcid.org/0000-0003-1963-9245" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-orcid'></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="m-img" src="img/GroupMembers/Gonzalo.jpg"></img>
                    <h3 >Gonzalo Martín Vicente, PhD</h3>
                    <h4 >Researcher (UNCuyo)</h4>
                    <div id="u-social">
                      <a href="https://scholar.google.com/citations?user=NjbJYe4AAAAJ&hl=en" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-google-scholar-square'></i></a>	
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="m-img" src="img/GroupMembers/Erick.png"></img>
                    <h3 >Erick Orozco</h3>
                    <h4 >Researcher (Unisimón) </h4>
                    <div id="u-social">
                      <a href="https://scholar.google.com/citations?user=EKtbQ8sAAAAJ&hl=en" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-google-scholar-square'></i></a>	
                      <a href="https://orcid.org/0000-0002-1170-667X" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-orcid'></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="m-img" src="img/GroupMembers/Arantxa.jpg"></img>
                    <h3 >Arantxa Urdangarin</h3>
                    <h4 >Researcher (EHU/UPV)</h4>
                    <div id="u-social">
                      <a href="https://ekoizpen-zientifikoa.ehu.eus/investigadores/2331252/detalle?lang=en" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>
                      <a href="https://orcid.org/0000-0002-9101-6459" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-orcid'></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="m-img" src="img/GroupMembers/user.png"></img>
                    <h3 >Neeraja Sudhakaran</h3>
                    <h4 >Ph.D. Student</h4>
                    <div id="u-social">
                      <a href="https://observatorio-investigacion.unavarra.es/investigadores/2370748/detalle?lang=en" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>
                      <!--<a href="https://observatorio-investigacion.unavarra.es/investigadores/2370748/detalle?lang=en" target="_blank" style="opacity: 1;"><img src="/img/Observatorio.png" alt="observatorio-investigacion" style="width: 32px; height: 32px;"></a>-->
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="m-img" src="img/GroupMembers/user.png"></img>
                    <h3 >Ismael Serrano</h3>
                    <h4 >Ph.D. Student</h4>
                    <div id="u-social">
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="m-img" src="img/GroupMembers/user.png"></img>
                    <h3 >Erlantz Miguelez</h3>
                    <h4 >Former Ph.D. Student</h4>
                    <div id="u-social">
                      <a href="https://observatorio-investigacion.unavarra.es/investigadores/751383/detalle?lang=en" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>
                      <!--<a href="http://www.unavarra.es/pdi?uid=812287" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>-->
                      <a href="https://orcid.org/0000-0001-5861-7247" target="_blank" style="opacity: 1;"><i class='ai ai-2x ai-orcid'></i></a>
                    </div>
                </div>
            </div>
            
            
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="m-img" src="img/GroupMembers/user.png"></img>
                    <h3 >Francisco Cerveto Peña</h3>
                    <h4 >Part-time lecturer</h4>
                    <div id="u-social">
                      <a href="https://www.unavarra.es/pdi?uid=8634" target="_blank" style="opacity: 1;"><i class="upna upna-2x upna-escudo"></i></a>
                    </div>
              </div>
            </div>


        </div>
    </div>
</div>
