<div id="section-bg">

                        <div id="section-text">

                        Projects
                        </div>

                        </div>

                        <div id="content-bg" class="add-section">

                        <div id="content-text-align">

                        <div id="menu" class="w3-bar w3-black">

<button class="w3-bar-item w3-button" onclick="openCity('institutions')">institutions</button>
<button class="w3-bar-item w3-button" onclick="openCity('companies')">companies</button>
</div>

<div id="institutions" class="sections" style="display: none;">
<dl class="ref-apa">
<dt>institutions</dt>
<dd><a href="www.unavarra.es?index=0">MTM2017-82553-R</a>, <em>Nuevos retos en la modelización espacio-temporal con aplicaciones en salud, violencia de género y teledetección</em>, Start date: Jan 1, 2018</dd>
<dd><a href="www.unavarra.es?index=1">PI043 MODELIZACION</a>, <em>Modelización Estadística Conjunta de Datos Satelitales y de Datos de Campo para la Estimación de Tendencias Espacio-Temporales (MEDET): Aplicaciones al  Control de Cosechas mediante la Estimación del </em>, Start date: Jun 1, 2017</dd>
<dd><a href="www.unavarra.es?index=2">2016/PI015 MODELIZACIÓN</a>, <em>Modelización Estadística Conjunta de Datos Satelitales y de Datos de Campo para la Estimación de Tendencias Espacio-Temporales (MEDET): Aplicaciones al Control de Cosechas mediante la Estima</em>, Start date: Oct 14, 2016</dd>
<dd><a href="www.unavarra.es?index=3">MTM2014-51992-R</a>, <em>Representación cartográfica de enfermedades y su aplicación al estudio de patrones espacio-temporales de incidencia y mortalidad por cáncer</em>, Start date: Jan 1, 2015</dd>
<dd><a href="www.unavarra.es?index=4">Res.2186/2014-113</a>, <em>Desigualdades sociales en salud: estudio de la evolución temporal del patrón geográfico de mortalidad e incidencia en áreas pequeñas.</em>, Start date: Oct 15, 2014</dd>
<dd><a href="www.unavarra.es?index=5">SAF2013-50139-EXP</a>, <em>Identificación de poblaciones que muestran correlaciones lineales altas entre variables bioquímicas</em>, Start date: Sep 1, 2014</dd>
<dd><a href="www.unavarra.es?index=6">ECO164</a>, <em>Modelos de ajuste y predicción para datos espacio-temporales</em>, Start date: Jan 1, 2014</dd>
<dd><a href="www.unavarra.es?index=7">TIN2013-41272-P</a>, <em>Modelo probabilístico en aprendizaje automático y optimizado: aprendizaje de modelos, permutaciones y series temporales.</em>, Start date: Jan 1, 2014</dd>
<dd><a href="www.unavarra.es?index=8">MTM2011-22664</a>, <em>Contribuciones a la modelización espacio-temporal con aplicaciones en epidemiología, climatología, paleoecología y sistemas de navegación global de satélites</em>, Start date: Jan 1, 2012</dd>
<dd><a href="www.unavarra.es?index=9">TIN2010-14931</a>, <em>Modelos gráficos probabilísticos en aprendizaje automático y optimizado: implementaciones eficientes y aplicaciones.</em>, Start date: Jan 1, 2011</dd>
<dd><a href="www.unavarra.es?index=10">MTM2008-03085</a>, <em>Evolución espacio-temporal de riesgos y detección de zonas con riesgos extremos</em>, Start date: Jan 1, 2009</dd>
<dd><a href="www.unavarra.es?index=11">MTM2006-27479-E</a>, <em>International Workshop on Spatio-Temporal Modelling</em>, Start date: Jan 1, 2006</dd>
<dd><a href="www.unavarra.es?index=12">MTM2005-00511</a>, <em>Métodos para la estimación en áreas pequeñas: aplicación  a la estimación de tasas por comarcas.</em>, Start date: Dec 31, 2005</dd>
<dd><a href="www.unavarra.es?index=13">PA091</a>, <em>Análisis Taxonómico de las Psicosis</em>, Start date: Jan 1, 2002</dd>
<dd><a href="www.unavarra.es?index=14">21/2002</a>, <em>Modelización espacio-temporal de tasas de incidencia y de mortalidad en Navarra</em>, Start date: Jan 1, 2002</dd>
<dd><a href="www.unavarra.es?index=15">AGL2000-0978</a>, <em>Estimación de cultivos de escasa incidencia en el espacio muestral, con modelos lineales mixtos especiales y teledetección</em>, Start date: Jan 1, 2001</dd>
<dd><a href="www.unavarra.es?index=16">PA019</a>, <em>Estudio de las metas psicológicas de los adolescentes navarros</em>, Start date: Jan 1, 2001</dd>
<dd><a href="www.unavarra.es?index=17">Ayuda_2/2/2001</a>, <em>Estimación de cultivos de escasa incidencia en el espacio muestral, con modelos lineales mixtos espaciales y teledetección</em>, Start date: Jan 1, 2001</dd>
<dd><a href="www.unavarra.es?index=18">00/0010-07</a>, <em>Estudio multicéntrico sobre los efectos de la contaminación atmosférica y la meteorología en salud</em>, Start date: Jan 1, 2000</dd>
<dd><a href="www.unavarra.es?index=19">RES.640/1999</a>, <em>Desigualdades en salud: diferencias de mortalidad por zonas básicas de salud en Navarra</em>, Start date: Jun 1, 1999</dd>
</dl>
</div>
<div id="companies" class="sections" style="display: none;">
<dl class="ref-apa">
<dt>companies</dt>
<dd><a href="www.unavarra.es?index=0">2018902164</a>, <em>Análisis contrafactuales de la evaluación del 2019 del Programa de Desarrollo Rural de Navarra</em>, Start date: Nov 18, 2018</dd>
<dd><a href="www.unavarra.es?index=1">20182143136</a>, <em>Sistemas Inteligentes de Clasificación Automática Apliados a la Industria</em>, Start date: Sep 25, 2018</dd>
<dd><a href="www.unavarra.es?index=2">2017902044</a>, <em>Informe sobre Estimación en Áreas Pequeñas</em>, Start date: Mar 20, 2017</dd>
<dd><a href="www.unavarra.es?index=3">2015000056</a>, <em>Procedimiento de verificación de dispositivos de medida de la temperatura</em>, Start date: Apr 1, 2015</dd>
<dd><a href="www.unavarra.es?index=4">2012021080</a>, <em>Curso de formación sobre GIS aplicado a riesgos ambientales: integración de datos de campo y geoestadística  </em>, Start date: Jul 3, 2012</dd>
<dd><a href="www.unavarra.es?index=5">2011015108</a>, <em>Curso de Modelización Estadística con R</em>, Start date: Sep 27, 2011</dd>
<dd><a href="www.unavarra.es?index=6">2011015006</a>, <em>Análisis y modelización estadística del precio de las viviendas colectivas de Álava en 2011</em>, Start date: Jan 18, 2011</dd>
<dd><a href="www.unavarra.es?index=7">2010015151</a>, <em>Estimación de áreas pequeñas</em>, Start date: Jan 3, 2011</dd>
<dd><a href="www.unavarra.es?index=8">2010015163</a>, <em>Elaboración de mapas climáticos mediante técnicas de geoestadística.</em>, Start date: Dec 23, 2010</dd>
<dd><a href="www.unavarra.es?index=9">2010015092</a>, <em>Informe técnico sobre análisi de piezas de reclamación</em>, Start date: Jul 22, 2010</dd>
<dd><a href="www.unavarra.es?index=10">2010015037</a>, <em>Informe técnico sobre muestreo de piezas en la elección de ensayos industriales</em>, Start date: Mar 31, 2010</dd>
<dd><a href="www.unavarra.es?index=11">2009015084</a>, <em>Estadística con R</em>, Start date: Jun 15, 2009</dd>
<dd><a href="www.unavarra.es?index=12">2009015004</a>, <em>Análisis y modelización estadística del precio de las viviendas colectivas de Álava en 2009 y 2010</em>, Start date: May 15, 2009</dd>
<dd><a href="www.unavarra.es?index=13">2008015124</a>, <em>Elaboración de aplicaciones informáticas de estimación en áreras pequeñas en la encuesta de innovación tecnológica y de desarrollo en métodos probabilísticos de fusión de registros</em>, Start date: Dec 9, 2008</dd>
<dd><a href="www.unavarra.es?index=14">2008015114</a>, <em>Evaluación externa de la metodología de extrapolación de la Encuesta de Presupuestos Familiares y Estadística de Gasto Familiar: presupuestos familiares.</em>, Start date: Sep 25, 2008</dd>
<dd><a href="www.unavarra.es?index=15">2008015076</a>, <em>investigación en los métodos probabilísticos de fusión de registros</em>, Start date: Jul 15, 2008</dd>
<dd><a href="www.unavarra.es?index=16">2007015072</a>, <em>Elaboración de programas informáticos para la estimación basada en modelos longitudinales y estimación en áreas pequeñas</em>, Start date: Jul 4, 2007</dd>
<dd><a href="www.unavarra.es?index=17">2007015083</a>, <em>Modelos de previsión del precio de las viviendas colectivas en Álava</em>, Start date: Jun 14, 2007</dd>
<dd><a href="www.unavarra.es?index=18">2007015033</a>, <em>Análisis de la metodología canadiense de estimadores que utilizan información longitudinal</em>, Start date: Mar 5, 2007</dd>
<dd><a href="www.unavarra.es?index=19">2006015125</a>, <em>Asesoramiento técnico estadístico del Proyecto Forsee</em>, Start date: Nov 10, 2006</dd>
<dd><a href="www.unavarra.es?index=20">2006015104</a>, <em>Metodología Estadística Longitudinal de la PRA e  impartición de un curso de formación sobre modelos estadísticos longitudinales</em>, Start date: Oct 1, 2006</dd>
<dd><a href="www.unavarra.es?index=21">2006015002</a>, <em>Estimación del número de parados, ocupados e inactivos por comarcas en al Comunidad Foral de Navarra</em>, Start date: Mar 10, 2006</dd>
<dd><a href="www.unavarra.es?index=22">2006015001</a>, <em>Asistencia técnica para la obtención de estimadores en Áreas pequeñas. La aplicación de la estimación en áreas pequeñas a la operación estadística de la PRA.</em>, Start date: Feb 21, 2006</dd>
<dd><a href="www.unavarra.es?index=23">2005015100</a>, <em>Modelización estadística para la valoración de viviendas colectivas en Álava</em>, Start date: Nov 15, 2005</dd>
<dd><a href="www.unavarra.es?index=24">2005015099</a>, <em>Curso sobre "Metodología de evaluación de estimadores por simulación"</em>, Start date: Nov 2, 2005</dd>
<dd><a href="www.unavarra.es?index=25">2005015015</a>, <em>Elaboración de programas informáticos estadísticos para la obtención de estimadores a nivel de comarca en varias de las estadísticas a realizar por EUSTAT.</em>, Start date: Apr 18, 2005</dd>
<dd><a href="www.unavarra.es?index=26">2005015019</a>, <em>Estimación en Áreas Pequeñas en la Comunidad Foral de Navarra</em>, Start date: Mar 23, 2005</dd>
<dd><a href="www.unavarra.es?index=27">200407061</a>, <em>Estimación en áreas pequeñas en la Comunidad Foral de Navarra.</em>, Start date: Aug 18, 2004</dd>
<dd><a href="www.unavarra.es?index=28">200407054</a>, <em>Asistencia técnica para la obtención de estimadores en áreas pequeñas</em>, Start date: Aug 7, 2004</dd>
<dd><a href="www.unavarra.es?index=29">200407954</a>, <em>Formación sobre "Asistencia técnica para la obtención de estimadores en áreas pequeñas"</em>, Start date: Aug 7, 2004</dd>
<dd><a href="www.unavarra.es?index=30">200407023</a>, <em>Curso sobre Métodos demográficos. Estimadores compuestos y estimadores SPREE</em>, Start date: Feb 2, 2004</dd>
<dd><a href="www.unavarra.es?index=31">200307085</a>, <em>Estimadores directos e indirectos tradicionales</em>, Start date: Nov 1, 2003</dd>
<dd><a href="www.unavarra.es?index=32">200307040</a>, <em>Modelización estadística de los riesgos de mortalidad por ocupación en Navarra</em>, Start date: Apr 28, 2003</dd>
<dd><a href="www.unavarra.es?index=33">200207009</a>, <em>Asesoramiento técnoco en estadística y análisis de datos.</em>, Start date: Aug 12, 2002</dd>
<dd><a href="www.unavarra.es?index=34">200130020</a>, <em>Estudio sobre evaluación de las metas y valores de los adolescentes y jóvenes navarros</em>, Start date: Feb 27, 2001</dd>
<dd><a href="www.unavarra.es?index=35">CONGV0027</a>, <em>Estudio sobre Evaluación de las Metas y Valores de los Adolescentes y Jóvenes Navarros</em>, Start date: Feb 1, 2001</dd>
<dd><a href="www.unavarra.es?index=36">200107003</a>, <em>Muestreo en áreas pequeñas</em>, Start date: Jan 15, 2001</dd>
</dl>
</div>
</div>
</div>
