<div id="research" class="container section">
        <h1 class="color-dark">Research lines</h1>
        <div class="row">
          
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <img class="r-img" src="img/research/Epidem.jpg"></img>
                    <h2 class="title-color"><br>Spatio-temporal epidemiology and gender-based violence<br></h2>
                    <p align="justify">Development of both univariate and multivariate spatio-temporal models to estimate incidence and/or mortality risks of cancer and other chronic diseases, to highlight hotspots areas and clusters, and to discover geographical patterns of the disease. Additional applications include revealing spatio-temporal patterns of gender-based violence by regions in countries heavily plagued by this endemic problem such as India.</p>
                    <p><a href="epidemiology.html" target="_blank"><span>Find out more</span></a></p>
                </div>
            </div>
            
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <img class="r-img" src="img/research/smoothing-small.jpg"></img>
                    <h2 class="title-color"><br>Satellite imagery<br></h2>
                    <p align="justify">Use of statistical techniques for improving the quality of information derived from the satellite imagery, a source of a great and rich quantity of spatially and temporally correlated data. Embedding the spatio-temporal dependence in the analysis of satellite images allows for developing techniques not only to fill missing data or mitigate the presence of outliers, but also to estimate trends and provide predictions.</p>
                    <p><a href="satimages.html" target="_blank"><span>Find out more</span></a></p>
                </div>
            </div>
            
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <img class="r-img" src="img/research/industrial_analytics_small.jpg"></img>
                    <h2 class="title-color"><br>Data freshness and industrial analytics<br></h2>
                    <p align="justify">Investigation of data timeliness and its impact on decision-making in industrial processes. This research covers theoretical and applied studies on information freshness and data transmission in complex systems, with applications in improving predictive models through real-time and adaptive forecasting to enhance efficiency, reduce delays, and support data-driven industrial analytics.</p>
                    <p><a href="industrialanalytics.html" target="_blank"><span>Find out more</span></a></p>
                </div>
            </div>
            
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <img class="r-img" src="img/research/fairness_small.png"></img>
                    <h2 class="title-color"><br>Algorithmic fairness and federated learning models<br></h2>
                    <p align="justify">Development of statistical and machine learning methods to ensure fair and reliable use of satellite imagery in spatial modelling and classification tasks, including detection and mitigation of bias in satellite image embeddings, design of fairness metrics for spatial contexts, and improvement of representations through preprocessing and pre-training strategies. Exploration of fair federated learning approaches for satellite image classification in distributed environments.</p>
                    <p><a href="fairness.html" target="_blank"><span>Find out more</span></a></p>
                </div>
            </div>
            
            <!--<div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <img class="r-img" src="img/research/Oficial_Statistics.jpg"></img>
                    <h2 class="title-color">Official statistics / small area estimations</h2>
                    <p>Unemployment rate estimations per counties</p>
                    <p>Estimation of economic magnitudes per industrial sectors by geographical aggrupation</p>
                    <p>Non-parametric methods in small area estimation</p>
                    <p><a href="smallareas.html" target="_blank"><span>Find out more</span></a></p>
                </div>
            </div>-->
            <!--<div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <img class="r-img" src="img/research/Environment.jpg"></img>
                    <h2 class="title-color">Environmental and agricultural applications<br><br></h2>
                    <p align="justify">Analysis of environmental and agricultural issues and their interaction at regional, national, and global scale. Development and application of modern techniques in the field of spatio-temporal statistics, statistical models, and satellite images. Effective communication of research findings to a broad audience, and enhancement of teaching with cutting edged techniques pursuing the greatest benefit for society.</p>
                    <p><a href="envagricultural.html" target="_blank"><span>Find out more</span></a></p>
                </div>
            </div>-->
        </div>
        
</div>
