<div id="software" class="container section">
<h1 class="color-dark">Software</h1>
    <div class="carousel-centered carousel-software-caption sc-text">
      <div id="mycarousel-software" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
          <li data-target="#mycarousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
	  <!-- Slide four - Set the background image for this slide in the line below -->
          <div class="carousel-item software-centered" style="background:white;">
          <img class="sofware-img" src="img/epidemiology/bigDM.jpg"></img>
          <div>
              <h1>bigDM</h1>
              <h2>An R package to fit scalable Bayesian disease mapping models for high-dimensional data.</h2>
              <h2><a href="https://github.com/spatialstatisticsupna/bigDM" target="_blank">Install the last version from GitHub Here</a></h2>
          </div>
          </div>
		<!-- Slide three - Set the background image for this slide in the line below -->
          <div class="carousel-item software-centered" style="background:white;">
            <img class="sofware-img" src="img/satimages/rsat_img.jpeg"></img>
            <div>
              <h1>rsat</h1>
              <h2>A great update of RGISTools for downloading, managing, processing, and smoothing time series of satellite images in a easier way.</h2>
              <h2><a href="https://github.com/spatialstatisticsupna/rsat" target="_blank">Install the last version from GitHub Here</a></h2>
            </div>
          </div>
          <!-- Slide One - Set the background image for this slide in the line below -->
         <div class="carousel-item software-centered active" style="background:white;">
         <img class="sofware-img" src="img/epidemiology/Imagen_SSTCDapp.jpg"></img>
            <div>
              <h1>SSTCDapp</h1>
              <h2>Shiny application for the analysis of spatial and spatio-temporal count data: SSTCDapp</h2>
              <h2> Go to <a href="https://emi-sstcdapp.unavarra.es/Login/" target="_blank">SSTCDapp</a></h2>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below
          <div class="carousel-item software-centered" style="background:white;">
            <img class="sofware-img" src="img/satimages/MainIMG_3.jpg"></img>
            <div>
              <h1>RGISTools</h1>
              <h2>An R package for downloading, processing, and smoothing time series of satellite images from Landsat, MODIS and Sentinel satellite programs in a uniform and standardized way.</h2>
              <h2><a href="https://github.com/spatialstatisticsupna/RGISTools" target="_blank">Install the last version from GitHub Here</a></h2>
            </div>
          </div>
		   -->
        </div>
        <a class="carousel-control-prev" href="#mycarousel-software" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#mycarousel-software" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    
    
    
    <div class="row">
    <div class="col-lg-6 col-md-6 text-center">
        <div class="service-box">
            <h2 class="title-color">SSTCDapp</h2>
            <img class="r-img" src="img/epidemiology/Imagen_SSTCDapp.jpg"></img>
            <p align="justify">Shiny application for the analysis of spatial and spatio-temporal count data: SSTCDapp. <a href="https://emi-sstcdapp.unavarra.es/Login/" target="_blank"><span>SSTCDapp</span></a></p>
        </div>
    </div>
		<div class="col-lg-6 col-md-6 text-center">
        <div class="service-box">
            <h2 class="title-color">rsat</h2>
            <img class="r-img" src="img/satimages/rsat_img.jpeg"></img>
            <p align="justify">A great update of RGISTools for downloading, managing, processing, and smoothing time series of satellite images in a easier way. <a href="https://github.com/spatialstatisticsupna/rsat#installation" target="_blank"><span>Install from GitHub Here</span></a></p>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 text-center">
        <div class="service-box">
            <h2 class="title-color">RGISTools</h2>
            <img class="r-img" src="img/satimages/MainIMG_3.jpg"></img>
            <p align="justify">An R package for downloading, processing, and smoothing time series of satellite images from Landsat, MODIS and Sentinel satellite programs in a uniform and standardized way. <a href="https://github.com/spatialstatisticsupna/RGISTools#installation" target="_blank"><span>Install from GitHub Here</span></a></p>
        </div>
    </div>
    </div>


</div>
