<div id="section-bg">
  <div id="section-text">
    Talks
  </div>
</div>
<div id="content-bg">
    <div id="content-text-align">
        <dl class="ref-apa">
          <dt>2018</dt>
          <dd><span>New cloud filling technique for time series of satellite images</span>, METMA 9th Workshop on Spatio-temporal modeling, University of Montpellier, Monpellier (France)</dd>
          <dd><span>Using ground-truth data to improve satellite images smoothing</span>, XXXVII Congreso Nacional de Estadística e Investigación Operativa, University of Oviedo, Oviedo (Spain).</dd>
          <dt>2017</dt>
          <dd><span>Alternative Smoothing Procedures of Satellite Images</span>,Spatial Statistics 2017: One World One Health, Lancaster University, Lancaster, UK </dd>
          <dt>2016</dt>
          <dd><span>Introduction to the analysis of satellite images with R</span>,University of Castilla-La mancha, XXXVI national conference of Statistics and Operations Research (SEIO), Toledo (Spain).</dd>
          <dd><span>Spatio-temporal modelling using SPDE</span>,UPNA, Public University of Navarre Doctoral Symposium, Pamplona-Iruñea </dd>
          <dt>2015</dt>
          <dd><span>Security in community sensor networks</span>, 12th International Conference on Applied Computing, Maynooth (Dublin), Ireland</dd>
        </dl>
    </div>

</div>