<div id="section-bg">
  <div id="section-text">
    Teaching
  </div>
</div>
<div id="content-bg">
    <div id="content-text-align">
        <dl class="ref-apa">
          <dt>Associate lecturer in Public University of Navarre</dt>
          <dd><a href="http://www.unavarra.es/ficha-asignaturaDOA/?languageId=100001&codPlan=501&codAsig=501103&anio=2018" target="_blank"><span>Computing</span></a></dd>
          <dd><a href="http://www.unavarra.es/ficha-asignaturaDOA/?languageId=100000&codPlan=302&codAsig=302105&anio=2018" target="_blank"><span>Resources for the develpment of teaching profession</span></a></dd>
          <dd><a href="http://www.unavarra.es/ficha-asignaturaDOA?languageId=100000&codPlan=302&codAsig=302105&anio=2018" target="_blank"><span>Communicative skills and ICT</span></a></dd>
        </dl>
    </div>
  </div>