<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" data-spy="scroll">
  {% include nav.html %}

  <div id="home" class='section welcome-little'>
    <div class="container h-100">

      <div class="row align-items-center h-100">
        <div class="col-12 w-text-little">
          <h1>Recent relevant research projects</h1>
        </div>
      </div>

      <!-- Publicly Funded Projects -->
      <div class="row mt-5">
        <div class="col-12">
          <h2>Publicly Funded R&D Projects</h2>
          <ul>
            <li>
                <strong>Spatio-Temporal Advances in Modelling, Learning, and Applications.</strong> Agencia Estatal de Investigación and Feder funds (PID2024-155382OB-I00). 2025-2029. PI: Lola Ugarte &amp; Tomás Goicoa
            </li>
            <li>
                <strong>Transfering statistical methods to remote sensing: a platform to provide satellite images with improved spatio-temporal resolutions.</strong> Agencia Estatal de Investigación and Next Generation UE (PDC2021-120796-I00). 2021-2023. PI: Lola Ugarte
            </li>
            <li>
                <strong>Estadística espacio-temporal para la resolución de problemas en salud pública y teledetección.</strong> Ministerio de Ciencia e Innovación - Agencia Estatal de Investigación (PID2020-113125RB-I00). 2021-2025. PI: Lola Ugarte
            </li>
            <li>
                <strong>Smart ZEO.</strong> Gobierno de Navarra - Departamento de Desarrollo Económico. (0011-1365-2021-000085). 2021-2023. PI: Lola Ugarte
            </li>
            <li>
                <strong>Nuevos retos en la modelización espacio-temporal con aplicaciones en salud, violencia de género y teledetección.</strong> Ministerio de Economía, Industria y Competitividad. (MTM2017-82553-R). 2018-2021. PI: Lola Ugarte
            </li>
          </ul>
        </div>
      </div>

      <!-- Industry-Funded Projects -->
      <div class="row mt-5">
        <div class="col-12">
          <h2>Industry-Funded Projects</h2>
          <ul>
            <li>Project X – Description brief</li>
            <li>Project Y – Description brief</li>
            <li>Project Z – Description brief</li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  {% include footer.html %}
</body>

</html>
