<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}

  <div id="home" class='section welcome-little'>
    <div class="container h-100">

      <div class="row align-items-center h-100">
        <div class="col-12 w-text-little">
          <h1 class="display-4">Selected Recent R&D Projects</h1>
        </div>
      </div>

      <!-- Publicly Funded Projects -->
      <div class="row mt-5">
        <div class="col-12">
          <h2>Publicly funded projects</h2>
          <ul>
            <li>
                <strong>Spatio-Temporal Advances in Modelling, Learning, and Applications.</strong> Agencia Estatal de Investigación and Feder funds (PID2024-155382OB-I00). 2025-2029. PI: Lola Ugarte &amp; Tomás Goicoa.
            </li>
            <li>
                <strong>FINALITY saFe learNIng for lArge scaLe InTerconnected sYstems.</strong> European Commission. 2025-2029. PI: Paula Gordaliza.
            </li>
            <li>
                <strong>Transfering statistical methods to remote sensing: a platform to provide satellite images with improved spatio-temporal resolutions.</strong> Agencia Estatal de Investigación and Next Generation UE (PDC2021-120796-I00). 2021-2023. PI: Lola Ugarte.
            </li>
            <li>
                <strong>Estadística espacio-temporal para la resolución de problemas en salud pública y teledetección.</strong> Ministerio de Ciencia e Innovación - Agencia Estatal de Investigación (PID2020-113125RB-I00). 2021-2025. PI: Lola Ugarte.
            </li>
            <!-- <li> <strong>Smart ZEO.</strong> Gobierno de Navarra - Departamento de Desarrollo Económico. (0011-1365-2021-000085). 2021-2023. PI: Lola Ugarte. </li>-->
            <li>
                <strong>Nuevos retos en la modelización espacio-temporal con aplicaciones en salud, violencia de género y teledetección.</strong> Ministerio de Economía, Industria y Competitividad. (MTM2017-82553-R). 2018-2021. PI: Lola Ugarte.
            </li>
          </ul>
        </div>
      </div>

      <!-- Industry-Funded Projects -->
      <div class="row mt-5">
        <div class="col-12">
          <h2>Projects funded by companies</h2>
          <ul>
            <li>
                <strong>Revisión y automatización de las proyecciones de población de Navarra.</strong> Instituto de Estadística de Navarra (NASTAT). OTRI: 2024 908 018. PI: Lola Ugarte &amp; Aritz Adin.
            </li>
            <li>
                <strong>Elaboración de un semáforo de alerta semanal de incrementos significativos del virus SARS-COV-2 en aguas residuales mediante métodos probabilísticos.</strong> Instituto de Salud Pública y Laboral de Navarra (ISPLN). OTRI: 2024 908 018. PI: Lola Ugarte &amp; Aritz Adin.
            </li>
            <li>
                <strong>Continuación de los trabajos del contrato sobre análisis de la presencia del virus SARS-COV-2 en las EDAR de Pamplona y Tudela.</strong> Navarra de Infraestructuras Locales S.A. (NILSA). OTRI: 2022 908 196. PI: Lola Ugarte &amp; Aritz Adin.
            </li>
            <li>
                <strong>Estudio de la evolución de la presencia del virus SARS-COV-2 en las EDAR de Arazuri y Tudela y análisis de su evolución en relación a las series de casos nuevos diagnosticados de COVID-19.</strong> Navarra de Infraestructuras Locales S.A. (NILSA). OTRI: 2021 908 231. PI: Lola Ugarte &amp; Aritz Adin.
            </li>
            <li>
                <strong>Monitorización de la presencia del virus SARS-COVID-2 en aguas residuales de Navarra mediante el uso de modelos estadísticos.</strong> Navarra de Infraestructuras Locales S.A. (NILSA). OTRI: 2021 908 066. PI: Lola Ugarte; Tomás Goicoa &amp; Aritz Adin.
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  {% include footer.html %}
</body>

</html>
