<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" data-spy="scroll">
  {% include nav.html %}
  <div id="home" class='section welcome-little'>
    <div class="container h-100">
    
    <div class="row align-items-center h-100">
    <div class="col-3"><img class="wss-img-little" src="img/logo.png"></img></div>
    <div class="col-6 w-text-little"> 
        <h1>Projects</h1>
    </div>    
    <div class="col-3"><img class="wupna-img-little" src="img/upnaLogo.png"></img></div>

    </div>
    </div> 
    
  </div>
  

{% include footer.html %}
</body>

</html>
